
*{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    font-family: 'Comic Sans MS'
}
body{
    background-color: #2e2a2a;
    background-size: cover ; 
}
li{
    display: inline;
    float: left;
}
.tabs{
    border-bottom: 1px white solid;
    text-align: center;
    justify-content: space-around;
    display: flex;
    /* position: fixed; */
    top:  0;
    width: 100%;
    background: #2e2a2a;
    overflow: hidden;
}

.tabs a , p , .tabs div {
  display: block;
  color: white;
  font-size: 2vm;
  text-align: center;
  padding: 10px 16px;
  text-decoration:none;
  font-weight: normal;
}

.tabs li a:hover:not(.current) {
    box-shadow: 0px 0px 20px 15px #4CAF50;
    transition: 0.5s;
    transform: scale(1.1);
    /* padding-right: 15px;
    border-right: 1px solid #4CAF50;
    padding-left: 15px;
    border-left: 1px solid  #4CAF50; */
    color: #4CAF50;
    background-color: #111;
}
.current{
    background-color:#4CAF50 ;
    
}
.container h1 {
    /* font-family: 'Century Gothic'; */
    margin-top: 18%;
    font-size: 5vw;
    font-weight: normal;
    text-align: center;
    color:#4CAF50;
}
p{
    font-family: monospace;
    font-size: 16px;
    color: #4CAF50;
}


#time{
    /* margin-top: 13px;
    margin-left: 85px; */
    display: inline-block;
    font-size: 16px;
    color:#4CAF50 ;
    font-family: 'Comic Sans MS';
    width: 212px;

}



.gallery-section{
    width: 100%;
    padding: 45px 0px;
    background-color: #2e2a2a;
}

.inner-width{
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0px 20px;

}
.bigImg {
    width: 375px;
    height: 562px;
    /* padding-top: 20px; */
    margin: auto;
    display: block ;
    /* height: 350px; */
    
}
/* .gallery-section h1{
    text-align: center;
    text-transform: uppercase;
    color: #4CAF50;
}
.border{
    width: 400px;
    height: 4px;
    background: #4CAF50;
    margin: 60px auto;

} */

.gallery-section .gallery{
    bottom: 0px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
}
.gallery-section .image{
    flex: 25%;
    /* overflow: hidden; */
    cursor: pointer;

}

.gallery-section .image img{
    filter: grayscale(100%);
    width: 100%;
    height: 100%;
    transition: 1s;
}

.gallery-section .image:hover img{
    z-index: 1;
    position: relative;
    filter: grayscale(0);
    transform: scale(1.2) rotate(7deg);
}























